.weatherItem {
  border-width: 1px;
  border-radius: 10px;
  border-color: #dadce0;
  border-style: solid;
  margin-bottom: 15px;
  margin-top: 15px;
  color: darkslategray;
}

.todayContainer {
  display: flex;
  padding: 5px 16px;
  flex-wrap: wrap;
  width: 100%;
  flex: 0 0 30%;
}

.todayContainer .current {
  height: 100%;
  flex: 0 0 70%;
}

.todayContainer img {
  height: 70%;
}

.todayContainer .temp {
  height: 30%;
}

.currentWeatherImage {
  flex-direction: flex-end;
  height: 75px;
  width: 75px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
}

.current {
  margin-bottom: -20px;
}

.darkSkyLink {
  color: lightslategray;
  font-size: 8px;
  margin-left: 15px;
}

.weekContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
}

.dayOfWeek {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black !important;
}

.dayOfWeek img {
  height: 50px;
  width: 50px;
}
